*{ margin:0; padding:0; box-sizing:border-box; font-family: sans-serif; }
body {
    background-color: #000000; color: #ffffff;
    display: flex; justify-content: center; align-items: center; height: 100vh;
}
.x-container { width: 450px; padding: 35px; text-align: left; }
.x-logo { font-size: 50px; margin-bottom: 25px; font-weight: bold;}
.x-container h1 { font-size: 40px; font-weight: 800; margin-bottom: 30px; letter-spacing: -1px;}
.x-container h2 { font-size: 23px; font-weight: 700; margin-bottom: 20px; }
.x-form-box input {
    width: 100%; padding: 16px; margin-bottom: 15px;
    background-color: #000; border: 1px solid #333; border-radius: 4px;
    color: #fff; font-size: 16px;
}
.x-form-box input:focus { border-color: #1d9bf0; outline: none; }
.x-next-btn {
    width: 100%; padding: 12px; background-color: #ffffff; color: #000;
    border: none; border-radius: 25px; font-size: 16px; font-weight: bold; cursor: pointer;
}
.x-forgot { display: block; text-align: center; margin-top: 20px; color: #1d9bf0; text-decoration: none; font-size: 14px;}